.card{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    background-color: #F9F7F3;
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 8px;
    max-width: 300px;
  
    text-align: center;
}

.card img{
    width: 250px;
}
.card h2{
    
    color: #F7A072;
    margin: 5px 0px 5px 0px ;
}

.card input{
    text-align: center;

    border-style: none none solid none;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba( 31, 38, 135, 0.37 );
    margin: 5px 0;
    padding: 5px;
}