.formAbaCliente{
    position: fixed;
    left: 25%;
    top: 12%;
    padding: 15px;
    width: 50vw;
    background-color: #F9F7F3;
    text-align: center;
    border: 2px dashed black;
    border-radius: 5px;
}
.formAbaCliente h1{
    color: #ff6600;
}

/* .imgInputCliente{
    border-radius: 50%;
} */

.iconFecharElemento {
    position: relative;
    top: 5px;
    left: 45%;
    justify-content: end;
    font-size: 25px;
    color:red ;

  
}

.botao_aba{
    margin: 20px 0 20px 0;
    
    font-size: 18px;

    cursor: pointer;
    background: #FF6600 ;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 70%;
}