.caixaInputBarra{
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputBarra{
    border: none;
    border-radius: 50px 0 0 50px;
    height: 42px;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 20px;
}
.iconInput{
 
    box-shadow: var(--box-shadow);
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: #FF6600;
    width: 50px;
    height: 43px;
}
.iconInput svg{
    color: white;
   
    font-size: 25px;
}
