.formCriar{
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50vw;
    background-color: #F9F7F3;
    text-align: center;
    border: 2px dashed black;
    border-radius: 5px;
   
    
}
.formCriar h1{
    color: #F7A072;
}
.iconFecharElemento {
    position: relative;
    top: 5px;
    left: 45%;
    justify-content: end;
    font-size: 25px;
    color:red ;

  
}