.message_c{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 80%;
 
}

.corVer{
    background-color: red;
   
}

.classificacao_message{
    border-radius: 0 20px 20px 0;
    
    padding: 25px;
}