.containerCards{
    margin-top: 20px;
}

.introducao{
    text-align: center;
    color: #F7A072;
    
}




.menu_lateral{
    position: fixed;
    display: flex;
  
 
    right: 0;
    top: 50%;
    /* gap: 5px; */
    
}
.inputMenu{
    position: absolute;
    display: none;
}

label{
    
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    /* border: 1px  solid black; */
    box-shadow: 0 8px 5px 0 rgba( 31, 38, 135, 0.37 );
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(58, 59, 59, 0.849);
    height: 52px;
}

.opcao_menu_lateral{
    list-style: none;
    display: none;
    position: relative;
    
    top: -50vh;
    height: 100vh;
    padding: 10px;
    
   
    font-size: large;
    background-color: rgba(58, 59, 59, 0.849);
    box-shadow: 0 8px 5px 0 rgba( 31, 38, 135, 0.37 );
    color: #F9F7F3;
    
    transition: 0.55s ease-in-out;
}
.inputMenu:checked ~ .opcao_menu_lateral{
    display: block;
}