.divTab{
    margin:20px auto;
}
.divTab h1{
    text-align: center;
    color: #F7A072;
}
.tabela_estilo{
    padding: 5px;
    border: 3.5px solid #EDDEA4;
    border-radius: 5px;
    margin: 25px auto;
    width: 1200px;
    text-align: center;
}
.tabela_head{
    padding: 5px;
    background-color: #0FA3B1;
    color: #F9F7F3;
    height: 50px;
}
.tabela_head th{
    padding: 5px;
    background-color: #F7A072;
    
    
}
.tabela_head th:not(.anEsp){
    background-color: #0FA3B1;
}
